arandr==0.1.11
attrs==22.2.0
autocommand==2.2.2
cffi==1.15.1
cryptography==41.0.3
fastjsonschema==2.18.0
inflect==7.0.0
jaraco.context==4.3.0
jaraco.functools==3.9.0
jaraco.text==3.11.1
libtorrent==2.0.9
lightdm-gtk-greeter-settings==1.2.2
more-itertools==10.1.0
ordered-set==4.1.0
packaging==23.1
platformdirs==3.10.0
ply==3.11
pycairo==1.24.0
pycparser==2.21
pydantic==1.10.9
PyGObject==3.46.0
Reflector==2023.6.28.0.36.1
TLPUI==1.6.0
tomli==2.0.1
trove-classifiers==2023.8.8
typing_extensions==4.7.1
ufw==0.36.2
validate-pyproject==0.13.post1.dev0+gb752273.d20230520
