<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>My Simple Website - {{ title }}</title>
    {% else %}
    <title>My Simple Website</title>
    {% endif %}
</head>
<body>
    <header>
        <nav>
            <p>
                <a href="/index">Home</a>
            </p>
        </nav>
        <br>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>
    
</body>
</html>